 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {
header ,hr{
    display: none;
}

/* main */
.wrapper{
    flex-direction: column-reverse;
}
.main-text-area h1{
    font-size: 28px;
    line-height: normal;
}
.main-text-area p{
    font-size: 14px;
}
.logo{
    flex-wrap: wrap;
    justify-content: center;
}
.popular-collection-heading {
    font-size: 16px;
}
.container{
    grid-template-columns: repeat(1,1fr);
}
.collection{
    margin: 10px 0;
    padding: 18px 10px 18px 10px;
}
.feature{
    flex-direction: column-reverse;
    row-gap: 50px;
}
.feature-banner img {
  
    width: 299px;
height: 188px;
  }

 }
 
 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px) {
     
 }
 
  /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) and (max-width: 991.98px) {
 
 }
 
 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) and (max-width: 1199.98px) {
     
 }
 
  /* Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) and (max-width:1399.98px){
     
 }
  /* Extra Extra large devices (large desktops, 1400px and up) */
 @media (min-width: 1400px) {
     
 }